

:root{
    --pink-4:#f472b6;
    --pink-6:#c026d3;
    --yellow-1:#fef9c3;
    --yellow-4:#fde68a;
    --green-1:#ecfccb;
    --blue-1:#e0f2fe;
}

*

.search::placeholder{
    color: white;
}

.navbar{
    background: var(--pink-4);
    
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    align-items: center;
}
.heading{
    height: 3.5rem;
}